body {
    background-color: #475569;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

.calculator__brand {
    display: flex;
    justify-content: space-between;
    color: white;
}

.calculator {
    background-color: #024242;
    width: 20em;
    margin: 2rem auto;
    padding: 1rem;
    height: em;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
}

.calculator__history {
  width: 93%;
  height: 30px;
  font-size: 1em;
  text-align: right;
  border-radius: 1em 1em 0 0;
  border: none;
  padding: 0 10px;
  background-color: #BAF5CE; 
}

.calculator__display {
    width: 93%;
    height: 50px;
    font-size: 2em;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 0 0 0.5em 0.5em;
    border: none;
    padding: 0 10px;
    background-color: #BAF5CE; 
}

.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 3.5em;
    gap: 5px;
}

.calculator__button {
    width: 85%;
    font-size: 1.2em;
    margin: 2px;
    border-radius: 0.5em;
    border: none;
    background-color: #1D619D;
    color: white;
}

.calculator__button:hover {
    background-color: #03a65a;
    color: white;
}

.calculator__button--plus,
.calculator__button--equal {
    grid-row: span 2;
}

.calculator__button--zero {
    grid-column: span 2;
}